* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #eeeeee;
  color: #000;
  font-family: "Roboto Serif", sans-serif;
}

.content {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
}

.content > div,
.content .header,
.content .contenido,
.content .sidebar,
.content .footer {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.content .header {
  background: #12303e;
  color: #fff;
  grid-column: 1/-1;
}

.content .contenido {
  grid-column: span 2;
}

.content .sidebar {
  grid-column: 3/4;
  background: #faa43d;
  text-align: center;
  /*FLEXBOX*/
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-row: span 2;
}

.content .widget-1,
.content .widget-2 {
  background: #55a8fd;
  color: #fff;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .footer {
  background: #12303e;
  color: #fff;
  grid-column: span 3;
}

/************MEDIAQUERY**************/

@media screen and (max-width: 768px) {
  .content .contenido {
    grid-column: 1 / -1;
  }

  .content .sidebar {
    grid-column: 1 / -1;
  }
  .content .widget-1 {
    grid-column: span 2;
  }
}
